@charset "UTF-8";

/*基本設定
-----------------------------------------*/
* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background: url(../img/trancepercent.png);
}
li {
list-style: none;
}
a img {
border: none;
}
img {
vertical-align: bottom;
}
html {
}
body {
padding: 0;
margin: 0;
position: relative;
font-size: 14px;
color: #333;
line-height: 1.2;
font-family:'Times New Roman';
font-size:16px;
background:#000;
background-image:url("../img/back_ground_black.png");
}
a {
color: #00A3D9;
}
a:hover {
color: #00C0FF;
}
hr {
border: none;
height: 0;
overflow: hidden;
border-bottom: 1px dashed #B3B3B3;
clear: both;
margin: 15px 0;
}
main, header, footer, section, article, figure ,figcaption {
display: block;
}
body #wrapper {
width: 1150px;
margin: 0 auto;
padding: 30px 0px 30px 0px;
font-family:'Times New Roman';
background-image:url("../img/back_ground_hinomaru.png"),url("../img/back_ground.png");
background-repeat: no-repeat,repeat;
background-size:100% auto;

}
body > #wrapper:after {
content: "";
display: block;
clear: both;
height: 0;
width: 0;
}
/*side
-----------------------------------------*/
#sidebar {
color: #FFF;
width: 200px;
float: right;
}
#mainContent {
width: 870px;
float: right;
margin: 0px 0px 0 30px;
}




/* side_bar
-----------------------------------------*/

nav ul li a,
nav ul li span {
    display:block;
    width:200px;
    height:35px;
    padding:5px 0 0 20px;
    line-height:1.6em;
    text-decoration:none;
    color:#696969;
    
}
nav ul li a:hover{
    text-decoration: none;
    color: #FFF;
}
nav ul li.here > a,
nav ul li.here > span {
    text-decoration: none;
    background: url(../img/makimono.png) no-repeat;
    color: #FFF;
}
.side_fig{
    margin:50px 0px 50px 0px;
}

/*footer
-----------------------------------------*/
.demo-footer {
    font-family:'Times New Roman';
    color: #fff;
    padding: 30px 0;
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0px;
    
}
.demo-footer .list-group .list-group-item {
    background: none;
    color: #999;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-color: #444;
}
.demo-footer .glyphicon {
    position: absolute;
    right: 15px;
    top: 13px;
}
.demo-footer .text-center {
    margin-top: 15px;
}

@media(min-width:768px) {
    .demo-footer .list-group .list-group-item {
        border: none;
        padding: 0;
        padding-top: 5px;
    }
    .demo-footer .glyphicon {
        display: none;
    }
    .demo-footer .text-center {
        margin-top: 30px;
    }
}
.demo-footer a{
    display:block;
    width:200px;
    height:35px;
    line-height:1.6em;
    text-decoration:none;
    color:#FFF;
}

/*body
 -----------------------------------------*/
.top_bar {
    font-family:'Times New Roman';
    clear:both;
    width:840px;
    height:35px;
    margin:10px 0 10px 30px;
    color:#000;
}
.text_temp {
    clear:both;
    font-family:'Times New Roman';
    margin:10px 20px 10px 30px;
    font-size:20px;
    line-height:1.6em;
    padding-top:8px;
    padding-bottom:0px;
    Color:#000;
}
.movie_temp {
    margin:20px 0px 20px 110px;

}
.center_fig{
     margin:30px 0 0px 60px;
}
.center_fig_small{
    margin:30px 0 20px 200px;
}
.center_fig_middle{
    margin:30px 0 20px 100px;
}
.center_fig_middle2{
    margin:30px 0 20px 150px;
}
.center_fig_middle3{
    margin:30px 0 20px 250px;
}
.title_center{
    font-size:16px;
    margin:10px 0 40px 300px;
}
.title_center2{
    font-size:16px;
    margin:10px 0 40px 30px;
}
.center_fig_table{
    margin:0px 0 30px 20px;
}
.center_fig_table2{
    margin:0px 0 30px 200px;
}
.title_center_table{
    font-size:16px;
    margin:20px 0 0px 300px;
}

div.gazo-box {
    float: left;
    padding-right: 20px;
    margin:30px 0 0px 10px;
}
div.gazo-box2 {
    float: left;
    padding-right: 20px;
    margin:30px 0 0px 30px;
}
p.gazo-box_p{
     font-size:16px;
     margin:20px 0 40px 100px;
}
p.gazo-box_p2{
    font-size:16px;
    margin:20px 0 40px 80px;
}
p.gazo-box_p3{
    font-size:16px;
    margin:20px 0 40px 30px;
}

